= simple_form_for @building do |f|
  = f.input :address
  = f.association :neighborhood, :collection => @neighborhoods
  = f.input :zipcode
  = f.input :elevator
  = f.input :doorman
  = f.input :super
  = f.input :coop
  = f.input :construction_type, :collection => [["Pre-war",1], ["Post-War",2], ["New Construction",3]]
  = f.submit :submit
