%section.search-results-page

  .container
    %h2.small-heading What building is your apartment in?

  .sort-list
    .container
      %ul.row
        %li.span2
          %span.sort-item Address
        %li.span2
          %span.sort-item Score
        %li.span2
          %span.sort-item No. of Review
        %li.span2
          %span.sort-item Doorman
        %li.span2
          %span.sort-item Elevator
        %li.span2
          %span.sort-item Flags

  .search-results.alt-section

    %ul.container
      - if @buildings.blank?
        %li.no-results No buildings have been added to be reviewed

      - @buildings.each do |building|

        %li.result.row
          .main-info.span10

            .business
              %h3= link_to building.address, building_path(building)
              = link_to 'Create a review', new_review_path(:bldg =>building), class: "create-review btn btn-mini"

            %ul.bldg-stats.row><
              -# TODO: add a business image or use default
              %li.img.span2><
                - if building.default_image_id.nil?
                  = image_tag 'default-bldg.png'
                - else
                  = image_tag BuildingImage.find(building.default_image_id).image.url(:small)
              %li.score.span2><
                %b Score:
                %strong><
                  =building.avg_score.to_i
                  %span.small>< %
              %li.review-cnt.span2><
                = building.reviews.count
                %span.small reviews
              %li.doorman.span2><
                = building.has_doorman
              %li.elevator.span2><
                = building.has_elevator

          %ul.flags.vert-flags.span2
            %li.flag.green-flag= building.flags_thrown["Would Recommend"] ? building.flags_thrown["Would Recommend"] : 0
            %li.flag.yellow-flag= building.flags_thrown["Neutral"] ? building.flags_thrown["Neutral"] : 0
            %li.flag.red-flag= building.flags_thrown["Not Recommend"] ? building.flags_thrown["Not Recommend"] : 0

    .section-decor

  %h3.add-listing
    = link_to "Don't see your building? Click here to add it", new_building_path, class: "btn btn-inverse btn-large"
