%section.search-results-page

  .container
    %h2.small-heading What building is your apartment in?

    .clearfix

      = form_tag(buildings_path, :method => :get, :id => "buildings_search") do
        .field
          %label{:for => "address"} Filter by address
          %input#search{:name => "search", :type => "text",:id => "search"}

        = hidden_field_tag :neighborhood, params[:neighborhood]
        = hidden_field_tag :zipcode, params[:zipcode]
        = hidden_field_tag :direction, params[:direction]
        = hidden_field_tag :sort, params[:sort]

      %h3.add-listing
        = link_to "Don't see your building? Click here to add it", new_building_path, class: "btn btn-inverse btn-large"

  .sort-list
    .container
      %ul.row
        %li.span2
          %span.sort-item Address
        %li.span2
          %span.sort-item
            = sortable "score"
        %li.span2
          %span.sort-item 
            = sortable "reviews_count","No. of Reviews"
        %li.span2
          %span.sort-item Doorman
        %li.span2
          %span.sort-item Elevator
        %li.span2
          %span.sort-item Flags

  .search-results.alt-section

    %ul.container
      - if @buildings.blank?
        %li.no-results No buildings have been added to be reviewed
      - else
        #buildings
          = render "buildings"

    .section-decor

