%p#notice= notice

.row
  .span4
    %h1
      = @building.address
    #myCarousel.carousel
      - cntr = 0
      .carousel-inner
        - @building.reviews.each do |review|
          - review.building_images.each do |img|
            - if cntr < 1
              .active.item
                = image_tag img.image.url(:small)
              - cntr += 1
            - else
              .item
                = image_tag img.image.url(:small)

      %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
      %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›
  .span4
    %h2 Building Score:
    = @building.avg_score
  .span4
    %h2
      = @building.construction
    %h4 Details
    = @building.zipcode
    %br
.row
  .span4.offset2
    - FIELDS.each do |f|
      -pct = @building.send("#{f}_avg".to_sym)
      = f
      #progressbar
        %div{:style =>"width:#{pct}%"}
.row
.comments
  %h3 Comments
  %ul
    - @building.reviews.each do |review|
      - unless review.comment.blank?
        %li
          = link_to review.comment, review_path(review)

