%section.bldg-page
  .container
    %p#notice= notice

    .bldg-overview

      .row
        .span6.offset1
          %h2.address= @building.address

          .row
            #myCarousel.carousel.span3
              .carousel-inner
                .active.item
                  - if @building.default_image_id.blank?
                    = image_tag 'default-bldg.png'
                  - else
                    = image_tag BuildingImage.find(@building.default_image_id).image.url(:small)
                - @building.reviews.each do |review|
                  - review.building_images.each do |img|
                    .item
                      = image_tag img.image.url(:small)

              - unless @building.building_images.blank?
                %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
                %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›

            .score.span3
              %b Score:
              %strong><
                = @building.avg_score.to_i
                %span.small>< %

        .span5
          %ul.bldg-features
            %li
              %span Doorman:
              = @building.has_doorman
            %li
              %span Elevator:
              = @building.has_elevator
            %li
              %span Super:
              = @building.has_super
            %li
              %span Co-Op:
              = @building.is_coop
            %li
              %span Construction:
              = @building.construction
            %li
              %span Apts:
              - @building.apt_types.each do |k,v|
                = "#{k} "
            %li
              %span Average Age:
              = @building.reviewer_average_age
            %li
              %span Average Occupancy:
              = @building.average_years_lived
            %li
              %span Average Studio Rent:
              = @building.reviewer_avg_rent :studio
            %li
              %span Average One Bedroom Rent
              = @building.reviewer_avg_rent :one_bedroom
            %li
              %span Average Two Bedroom Rent:
              = @building.reviewer_avg_rent :two_bedroom
            %li
              %span Average Two-Plus Bedroom Rent:
              = @building.reviewer_avg_rent :two_plus_bedroom


      .row
        .span12
          %ul.big-flags
            %li
              %b.large-flag.green-flag
                = @building.flags_thrown["Would Recommend"] ? @building.flags_thrown["Would Recommend"] : 0
              %span.big-link Would recommend
            %li
              %b.large-flag.yellow-flag
                = @building.flags_thrown["Neutral"] ? @building.flags_thrown["Neutral"] : 0
              %span.big-link Neutral
            %li
              %b.large-flag.red-flag
                = @building.flags_thrown["Not Recommend"] ? @building.flags_thrown["Not Recommend"] : 0
              %span.big-link Would not recommend


  .alt-section
    .section-decor
    .container

      .bldg-reviews
        .row
          .span10.offset1
            - ReviewMetadata.all_fields.each do |f|
              -pct = @building.send("#{f}_avg".to_sym)
              .row
                .progress-title.span3
                  %strong= f.titleize
                .span5
                  #progressbar
                    .inner{:style =>"width:#{pct}%"}
                .progress-num.span2
                  %strong= (pct/20).round(1)

      .bldg-comments
        %h3 Comments
        %ul
          - @building.reviews.each do |review|
            - unless review.comment.blank?
              %li
                "#{link_to review.comment, review_path(review)}"

    .section-decor

