%p#notice= notice

- if @building
  = @building.address
  = @building.zipcode

  = link_to 'Edit', edit_building_path(@building)
  = link_to 'Back', buildings_path
- else
  No building in the system with that address.
  = link_to "Create it", new_building_path
