%p#notice= notice

%h1
  = @building.address
%h4 Details
= @building.zipcode

- @building.reviews.each do |review|
  - 1.upto(3).each do |i|
    - image = "image#{i}"
    %td
      - unless review.send(image.to_sym).url.split("/")[-1] == "missing.png"
        = image_tag review.send(image.to_sym).url(:small)
