.container
  %section.new-user
    .well

      %h2 Create an account

      = form_tag users_path do
        - if @identity && @identity.errors.any?
          .error_messages
            %h2
              = pluralize(@identity.errors.count, "error")
              prohibited this account from being saved:
            %ul
              - @identity.errors.full_messages.each do |msg|
                %li= msg
              - @user.errors.full_messages.each do |msg|
                %li= msg
        .field
          = label_tag :name
          = text_field_tag :name, @identity.try(:name)
        .field
          = label_tag :email
          = text_field_tag :email, @identity.try(:email)
        .field
          = label_tag :password
          = password_field_tag :password
        .field
          = label_tag :password_confirmation
          = password_field_tag :password_confirmation

        = render :partial => 'shared/dob_and_gender'

        .actions
          = submit_tag "Register", class: "btn btn-primary btn-large"
