.slider_panel
  .row
    .span2
      = hilows["cleanliness"]["low"]
    .span8
      #cleanliness.slider-bar
        %p Cleanliness
    .span2
      = hilows["cleanliness"]["hi"]
  .row
    .span2
      = hilows["pests"]["low"]
    .span8
      #pests.slider-bar
        %p Pests
    .span2
      = hilows["pests"]["hi"]
  .row
    .span2
      = hilows["sunlight"]["low"]
    .span8
      #sunlight.slider-bar
        %p Sunlight
    .span2
      = hilows["sunlight"]["hi"]
  .row
    .span2
      = hilows["prox_mass_transit"]["low"]
    .span8
      #prox_mass_transit.slider-bar
        %p Proximity To Mass Transit
    .span2
      = hilows["prox_mass_transit"]["hi"]
  .row
    .span2
      = hilows["noise_level"]["low"]
    .span8
      #noise_level.slider-bar
        %p Noise Level
    .span2
      = hilows["noise_level"]["hi"]
  .row
    .span2
      = hilows["ceilings"]["low"]
    .span8
      #ceilings.slider-bar
        %p Ceilings
    .span2
      = hilows["ceilings"]["hi"]
  .row
    .span2
      = hilows["closet_space"]["low"]
    .span8
      #closet_space.slider-bar
        %p Closet Space
    .span2
      = hilows["closet_space"]["hi"]
  .row
    .span2
      = hilows["temp_control"]["low"]
    .span8
      #temp_control.slider-bar
        %p Temperature Control
    .span2
      = hilows["temp_control"]["hi"]
  .row
    .span2
      = hilows["appliances"]["low"]
    .span8
      #appliances.slider-bar
        %p Appliances
    .span2
      = hilows["appliances"]["hi"]
  .row
    .span2
      = hilows["countertops"]["low"]
    .span8
      #countertops.slider-bar
        %p Countertops
    .span2
      = hilows["countertops"]["hi"]
  .row
    .span2
      = hilows["bathrooms"]["low"]
    .span8
      #bathrooms.slider-bar
        %p Bathrooms
    .span2
      = hilows["bathrooms"]["hi"]
  .row
    .span2
      = hilows["floors"]["low"]
    .span8
      #floors.slider-bar
        %p Floors
    .span2
      = hilows["floors"]["hi"]
  .row
    .span2
      = hilows["walls"]["low"]
    .span8
      #walls.slider-bar
        %p Walls
    .span2
      = hilows["walls"]["hi"]
  .row
    .span2
      = hilows["utilities"]["low"]
    .span8
      #utilities.slider-bar
        %p Utilities
    .span2
      = hilows["utilities"]["hi"]
  .row
    .span2
      = hilows["neighbors"]["low"]
    .span8
      #neighbors.slider-bar
        %p Neighbors
    .span2
      = hilows["neighbors"]["hi"]
  .row
    .span2
      = hilows["laundry"]["low"]
    .span8
      #laundry.slider-bar
        %p Laundry
    .span2
      = hilows["laundry"]["hi"]
  .row
    .span2
      = hilows["neighborhood"]["low"]
    .span8
      #neighborhood.slider-bar
        %p Neighborhood
    .span2
      = hilows["neighborhood"]["hi"]
  .row
    .span2
      = hilows["rent"]["low"]
    .span8
      #rent.slider-bar
        %p Rent
    .span2
      = hilows["rent"]["hi"]
  .row
    .span2
      = hilows["storage"]["low"]
    .span8
      #storage.slider-bar
        %p Storage
    .span2
      = hilows["storage"]["hi"]
  .row
    .span2
      = hilows["super"]["low"]
    .span8
      #super.slider-bar
        %p Super
    .span2
      = hilows["super"]["hi"]
