%section.new-review-page
  %header
    %h2
      New Review for
      %span.address
        = @building.address

  %ul.bldg-info.inline-list
    %li
      %span.label Doorman:
      = @building.doorman
    %li
      %span.label Elevator:
      = @building.elevator
    %li
      %span.label Live in Super:
      = @building.super
    %li
      %span.label Co-Op:
      = @building.coop

  = render :partial => 'slider', :locals => {:hilows => @hilows}

  = render :partial => 'form'
