.container
  %section.new-review-page.centered-form

    %h2.small-heading
      New Review for
      %span.address
        = @building.address

    %ul.bldg-info.inline-list
      %li
        %span Doorman:
        = @building.doorman
      %li
        %span Elevator:
        = @building.elevator
      %li
        %span Live in Super:
        = @building.super
      %li
        %span Co-Op:
        = @building.coop

    = render :partial => 'slider', :locals => {:hilows => @hilows}

    = render :partial => 'form'
