%h1 New Building review

%p
  Doorman:
  = @building.doorman
%p
  Elevator:
  = @building.elevator
%p
  Live in Super:
  = @building.super
%p
  Co-Op:
  = @building.coop

= render :partial => 'slider'
= render :partial => 'form'
