%h1 New Review for #{@building.address}

%p
  Doorman:
  = @building.doorman
%p
  Elevator:
  = @building.elevator
%p
  Live in Super:
  = @building.super
%p
  Co-Op:
  = @building.coop

= render :partial => 'slider', :locals => {:hilows => @hilows}
= render :partial => 'form'
