<section class="bldg-page review-page">
  <div class="container">
    <div class="review-info">
      <h3>Thanks for submitting your review! The average scores are below</h3>
      <p>
        Your rating for
        <em></em>
        <%= link_to @review.building.address, @review.building %>
        is:
        <strong><%=@review.score.to_i%>%</strong>
      </p>
      <% if @review.building_images %>
        <ul class="inline-list"></ul>
        <% @review.building_images.each do |img| %>
          <% unless img.image.url.split("/")[-1] == "missing.png" %>
            <li class="img">
              <%= image_tag img.image.url(:small) %>
            </li>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="alt-section">
    <div class="section-decor"></div>
    <div class="container">
      <div class="row">
        <div class="bldg-reviews span10 offset1">
          <% ReviewMetadata.all_fields.each do |f| %>
            <% pct = @review.send(f.to_sym) * 20 %>
            <div class="row">
              <div class="progress-title span3">
                <strong>
                  <%= f.titleize %>
                </strong>
              </div>
              <div class="span5">
                <div id="progressbar">
                  <div class="inner" style="width:<%= pct %>%"></div>
                </div>
              </div>
              <div class="progress-num span2">
                <strong>
                  <%= (pct/20).to_i %>
                </strong>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="bldg-comments">
        <% unless @review.comment.empty? %>
          <h3>
            Comment
          </h3>
          <p><%=@review.comment%></p>
        <% end %>
      </div>
    </div>
    <div class="section-decor"></div>
  </div>
</section>
      
