- @review.building_images.each do |img|
  - unless img.image.url.split("/")[-1] == "missing.png"
    = image_tag img.image.url(:small)
.row
  .span12
    %p Thanks for submitting your review, the average scores are below
    %h3 Average Score for this building is: #{@review.building.avg_score}
%p
  %b User:
  = @review.user.name

  %ul
    - FIELDS.each do |f|
      %li
        = f.titleize
        = @review.send(f.to_sym)

    %li
      Comment:
      = @review.comment

= link_to 'Edit', edit_review_path(@review)

= link_to 'Back', reviews_path
