%section.bldg-page.review-page
  .container

    .review-info
      %h3 Thanks for submitting your review! The average scores are below
      %p
        Your rating for
        %em
          #{link_to @review.building.address, @review.building}
        is:
        %strong #{@review.score}%
        = link_to 'Edit', edit_review_path(@review), class: 'btn btn-inverse'

      -if @review.building_images
        %ul.inline-list
        - @review.building_images.each do |img|
          - unless img.image.url.split("/")[-1] == "missing.png"
            %li.img
              = image_tag img.image.url(:small)

  .alt-section
    .section-decor
    .container
      .row
        .bldg-reviews.span10.offset1
          - ReviewMetadata.all_fields.each do |f|
            -pct = @review.send(f.to_sym) * 20
            .row
              .progress-title.span3
                %strong= f.titleize
              .span5
                #progressbar
                  .inner{:style =>"width:#{pct}%"}
              .progress-num.span2
                %strong= (pct/20).to_i


      .bldg-comments
        - unless @review.comment.empty?
          %h3
            Comment

          %p "#{@review.comment}"


    .section-decor