%section.bldg-page.review-page
  .container
    .row
      .span3
        - @review.building_images.each do |img|
          - unless img.image.url.split("/")[-1] == "missing.png"
            .img
              = image_tag img.image.url(:small)
          - else
            .img
              = image_tag "default-bldg.png"

      .review-info.span9
        %h3 Thanks for submitting your review! The average scores are below
        %p
          Your rating for
          %em
            #{link_to @review.building.address, @review.building}
          is:
          %strong #{@review.score}%
        = link_to 'Edit', edit_review_path(@review), class: 'btn btn-inverse'

  .alt-section
    .section-decor
    .container
      .row
        .bldg-reviews.span10.offset1
          - ReviewMetadata.all_fields.each do |f|
            -pct = @review.send(f.to_sym) * 20
            .row
              .progress-title.span3
                %strong= f.titleize
              .span5
                #progressbar
                  .inner{:style =>"width:#{pct}%"}
              .progress-num.span2
                %strong= (pct/20).to_i


      .bldg-comments
        %h3
          Comment

        %p "#{@review.comment}"


    .section-decor