%h2 Please Enter apt address
= simple_form_for @apartment do |f|
  = f.association :building, :collection => Building.all.map(&:address)
  = f.input :unit
  = f.input :bedrooms
  = f.input :bathrooms
  = f.input :sqft
  = f.submit :submit

