%h2 Please Add an Apartment for #{@building.address}
= simple_form_for @apartment do |f|

  = f.input :building_id, :as => :hidden, :input_html => {:value => @building.id}
  = f.input :unit
  = f.input :bedrooms
  = f.input :bathrooms
  = f.input :sqft
  = f.submit :submit

