%h1 Apartment Details | Average Score:  #{@apartment.avg_score}

Address:
= @apartment.building.address
<br />
Doorman:
= @apartment.building.doorman
<br />
Elevator:
= @apartment.building.elevator
<br />
Super:
= @apartment.building.super
<br />
Co-op:
= @apartment.building.coop

= link_to "back", apartments_path
= link_to "edit", edit_apartment_path(@apartment)
