%h1 Apartment Details

Address:
= @apartment.address
<br />
Doorman:
= @apartment.doorman
<br />
Elevator:
= @apartment.elevator
<br />
Super:
= @apartment.super
<br />
Co-op:
= @apartment.coop

= link_to "back", apartments_path
= link_to "edit", edit_apartment_path(@apartment)
