.how-it-works.content-page.container
  .row
    .span10.offset1
      %h2 The HomeRefs system is easy to use.
      %p We offer you a simple form to complete that will create a profile for your building. First, there is some general building information, which is only filled out the first time a building is added to the site.
      = image_tag 'how_it_works/biz-info.png'
      %p Then, travel down the page and fill out the review. You don’t even have to type, just drag the slidebars!
      = image_tag 'how_it_works/slider.png'
      %p We then give you the option to throw one of three flags based on whether or not you would recommend the building. Finally, if you want add a quick comment, then poof, you are done!
      = image_tag 'how_it_works/flags.png'
      = image_tag 'how_it_works/comment.png'
      %p Oh, and here is the best part: you can now add up to 3 pictures of your place. Show the outside of the building or show the world a problem area, whatever you think matters most.
      = image_tag 'how_it_works/upload-images.png'
      = image_tag 'how_it_works/image-carousel.png'
      %p Once your review is complete, we generate a score based on your responses and add your review to the site. Your review then shows up in the (search for an apartment-link) section.
      %p It’s pretty simple and the best part is it’s entirely user generated! We have no say, brokers have no say, and landlords, well they aren’t going to be happy…awesome.
      %p Thanks again!

      %p The HomeRefs Team


