!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title= content_for?(:title) ? yield(:title) : "HomeRefs"
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(name="description" content="")
    %meta(name="author" content="")
    = csrf_meta_tags
    = yield(:head)
    = stylesheet_link_tag "application", :media => "all"

    /[if lt IE 9]
      %script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")

    %link(rel="shortcut icon" href="images/favicon.ico")
    %link(rel="apple-touch-icon" href="images/apple-touch-icon.png")
    %link(rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png")
    %link(rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png")

  %body

    %header.container.clearfix{role: "banner"}

      %h1
        = link_to "HomeRefs", :root, class: "brand"

      %nav{role: "navigation"}
        %ul.nav-list
          %li.nav-item
            = link_to "How It Works", '/how-it-works'
          %li.nav-item
            = link_to "About",'/about'
          %li.nav-item
            = link_to "FAQ",'/faq'
          %li.nav-item
            = link_to "Contact", 'contact'
          - if user_logged_in?
            %li.nav-item
              %ul
                %li#menu1.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#menu1"}
                    My Account
                    %b.caret
                  %ul.dropdown-menu
                    %li
                      = link_to "History", user_path(get_current_user.id)
                    %li.divider
                    %li
                      = link_to "Log Out", logout_path
          - else
            %li.nav-item
              = link_to "Log In", login_path

    .container
      - flash.each do |name, msg|
        = content_tag :div, msg.html_safe, :class =>"#{name}", :id => "flash_#{name}"

    = yield

    %footer.container{role: "contentinfo"}
      %p
        HomeRefs Copyright &copy; 2012. All Rights Reserved.
        = link_to "Feedback", new_feedback_path

    = javascript_include_tag "application", "core"
    = yield :body_end


